.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

h1 {
  color: #333;
  text-align: center;
}

textarea {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 200px; /* Establece la altura deseada */
}

.buttons-container {
  text-align: center;
}

.button-encrypt,
.button-decrypt,
.button-copy {
  padding: 10px 20px;
  margin: 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-encrypt:hover,
.button-decrypt:hover,
.button-copy:hover {
  background-color: #0056b3;
}

footer {
  text-align: center;
  margin-top: 20px;
}
